<h3>アカウントをお持ちで無い方は<strong><a href="/users/new">こちら</a></strong> へ</h3>
<form class="form-signin" action="/users/login" method="POST">
  <h2 class="form-signin-heading">Log in:</h2>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="text" name="email" id="inputEmail" class="form-controll" placeholder="Email Adress" autofocus required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-controll" placeholder="Password" autofocus required>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Login!</button>
</form>