<div class="data-form">
  <form action="/users/create" method="POST">
    <h2>Create new user</h2>
    <label for="inputFirstName">First Name</label>
    <input type="text" name="first" id="inputFirstName" placeholder="First" autofocus>
    <hr>
    <label for="inputLastName">Last Name</label>
    <input type="text" name="last" id="inputLastName" placeholder="Last" autofocus>
    <hr>
    <label for="inputPassword">Password(無料で作ったために、パスワードを保存しているデータベースへのアクセスがゆるゆるなんで適当に)</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" autofocus required>
    <hr>
    <label for="inputEmail">Email（上と同様の理由からマジなメアドは使わないように・・・。）</label>
    <input type="text" name="email" id="inputEmail" placeholder="Email Adress" autofocus required>
    <hr>
    <button type="submit">Sign in</button>
  </form>
</div>